.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F9FA;
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 0;
  }
  
  .footer-content {
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .footer-links a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: gray;
  }
  
  .footer-info {
    font-size: 12px;
    color: gray;
  }
  
  .footer-icon {
    width: 25px;
    height: 25px;
  }
  
  .footer-top p,
  .footer-bottom p {
    color: #A9A9A9
  }