@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.line {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Dovemayo_gothic", sans-serif;
  border-bottom: 1px solid #cccccc;
}

.Projects_Projects__E9SvD {
  padding: 80px;
  font-family: "Dovemayo_gothic", sans-serif;
}

.SectionTitle_text__O7xJQ {
  font-size: 24px;
  color: #ffffff;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
  font-family: "Dovemayo_gothic", sans-serif;
}

.SectionTitle_link-wrapper__VI81N {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: "Dovemayo_gothic", sans-serif;
}

.SectionTitle_link__WH0x2 {
  width: 50px;
  height: 50px;
}

/* 프로젝트 전체 스타일 */

.Projects_project__hHhvb {
  margin-bottom: 40px;
  font-family: "Dovemayo_gothic", sans-serif;
  margin-left: 7%;
  margin-right: 7%;
  overflow-x: auto; 
}

.Projects_project__hHhvb {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: "Dovemayo_gothic", sans-serif;
  overflow-x: auto; /* 가로로 넘치는 부분을 숨김 */
  overflow-y: auto;
}

/* 프로젝트 제목과 기간 스타일 */
.Projects_header {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Dovemayo_gothic", sans-serif;
}

.Projects_title__0IuQ3 {
  font-size: 48px;
  color: #000000;
  text-align: center;
  font-family: "Dovemayo_gothic", sans-serif;
}

.Projects_period__HDo5Z {
  font-size: 14px;
  color: #808080;
  text-align: center;
  font-family: "Dovemayo_gothic", sans-serif;
  margin-bottom: 20px;
}

/* 이미지와 설명을 가로로 배치하기 위한 스타일 */
.Projects_info___utyZ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Dovemayo_gothic", sans-serif;
  word-break: break-word;
}

/* 이미지 슬라이드 및 네비게이션 스타일 */
.Projects_img-carousel__e8hwy {
  flex: 1;
  margin-right: 20px;
  font-family: "Dovemayo_gothic", sans-serif;
}

/* 이미지 슬라이드 내부 요소들 가운데 정렬 */
.Projects_imgs__datEq,
.Projects_nav__Inoba {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dovemayo_gothic", sans-serif;
}

.Projects_img__OAyqd {
  width: 24vw;
}

/* 프로젝트 설명 스타일 */
.Projects_descriptions__2g3bi {
  flex: 2;
  font-family: "Dovemayo_gothic", sans-serif;
  word-break: break-word;
}

/* 프로젝트 내부의 각 항목들에 대한 스타일 */
.Projects_description___gCV_ {
  display: flex;
  align-items: flex-start;
  font-family: "Dovemayo_gothic", sans-serif;
}

/* 주요 기능, GitHub 등의 레이블에 대한 스타일 */
.Projects_label__OLO6p {
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 20px; /* 새로 추가한 코드 */
  width: 25%;
  font-family: "Dovemayo_gothic", sans-serif;
}

/* 프로젝트 내부의 각 항목들의 값에 대한 스타일 */
.Projects_value__B9RY_ {
  line-height: 1.5;
  width: 80%;
  font-family: "Dovemayo_gothic", sans-serif;
}

.Projects_red__r_DWh {
  color: #ff1493;
}

/* 좌우 네비게이션 위치 조정 */
.Projects_prev__wS3_z,
.Projects_next__3RYWe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer; /* 버튼 위로 마우스를 올리면 손가락 커서가 나타나도록 설정 */
}
button.minty-btn {
  font-weight: bold;
  font-size: 1.2em; /* 원하는 크기로 조정해주세요 */
}
/* 이미지 아이콘 크기 조정 */
.Projects_prev__wS3_z img,
.Projects_next__3RYWe img {
  width: 30px;
  height: 30px;
}

.minty-btn {
  font-weight: bold;
  font-size: 1.2em; /* 원하는 크기로 조정해주세요 */
  cursor: pointer;
  background-color: paleturquoise;
  width: 10vw;
}
.ERP-btn {
  font-weight: bold;
  font-size: 1.2em; /* 원하는 크기로 조정해주세요 */
  cursor: pointer;
  background-color: rgb(189, 158, 218);
  width: 10vw;
}